*,*::after,*::before{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       
}
body{
        background-color: var(--bg-color);
}
h1{
        font:var(--font-family);
}
:root{
        /* macas */
--snitap-sun:#ffcd1e;
--snitap-sky-mid:#06b6d6;
--snitap-sky-light:#67e8f9;
--snitap-joy-mid:#db2777;
--snitap-joy-light:#f472b6;
--snitap-leaf-mid:#16a34a;
        /* base */
--background:#fafafa;
--ff-base:"Montserrat", serif;

 --text-sm:0.875rem ;
 --text-base:1rem ;
 --text-lg:2.5rem ;
 --text-xl:4rem ;

        /* botao */
--font-family-secondary:"Montserrat", serif;
--button-label:600 1rem/150% var(--font-family-secondary);
--span-label:600 0.875rem/150% var(--font-family-secondary);
}
html,button{
        font: 500 1rem/1.5 var(--ff-base);
}

h1,h2{
        font-family: "Syne", serif;
}
h1{
        font-size: var(--text-xl) ;
        line-height: 1.25;
}
h2{
        font-size: var(--text-lg);
        line-height: 1.2;
}
a{
    color: inherit;
    text-decoration: none;    
}